<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- General Settings -->
    <category label="General Settings">
        <setting id="username" type="text" label="Username" enable="true"/>
        <setting id="password" type="text" label="Password"  enable="false"/>
        <setting id="vip_remaining" type="text" label="VIP_days_remaining"  enable="false"/>
        <setting type="sep"/>
        <setting id="salt" type="text" label="Salt" enable="false"/>
        <setting id="token" type="text" label="Token" enable="false"/>
    </category>

    <!-- Interface Settings -->
    <category label="Interface Settings">
    </category>

    <!-- Advanced Settings -->
    <category label="Advanced Settings">
    </category>

    <!-- About -->
    <category label="About">
        <setting id="addon_version" type="text" label="Addon Version" default="1.0.6" enable="false"/>
        <setting id="developer_info" type="text" label="Developer Info" default="Minda" enable="false"/>
        <setting id="website_link" type="text" label="Website" default="" enable="false"/>
    </category>
</settings>
